
:root{
    --common_padding: 40px;
    --yellowish_green: rgb(206, 230, 96);
    --highlighted-color: rgb(47, 214, 175);
}
html{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
*, *:before, *:after{
    box-sizing: inherit;
}



h2, h4, p{
    margin: 0;
}



body{
    background-color: lightgrey;
    
}


.card{
    width: 700px;
    height: 550px;
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}


.intro{
    width: 100%;
    height: 45%;
    padding: var(--common_padding);
}
.intro h2{
    
    font-size: 1.7rem;
    color: var(--highlighted-color);
    margin-bottom: 25px;
}
.intro h4{
    color: var(--yellowish_green);
    margin-bottom: 20px;
}
.intro p{
    color: rgb(152, 166, 189);
}


.bottom-container{
    color: white;
    height: 55%;
}
.col-1, .col-2{
    display: inline-block;
    vertical-align: top;
    padding: var(--common_padding);
}
.bottom-container h4{
    margin-bottom: 20px;
    font-size: 1.4rem;
}
.col-1{
    background-color: var(--highlighted-color);
    width: 50%;
    height: 100%;
}
.col-1 .rate{
    margin-bottom: 10px;
}
.col-1 .dollar{
    font-size: 2rem;
    font-weight: 700;
}
.col-1 .unit{
    opacity: 0.7;
    position: relative;
    top: -3px;
    font-size: 0.9rem;
}
.col-1 p{
    margin-bottom: 45px;
}

.col-1 button{
    background-color: var(--yellowish_green);
    width: 200px;
    padding: 10px;
    border: none;
    color: aliceblue;
    border-radius: 5px;
}
.col-1 button:hover{
    cursor: pointer;
    background-color: #C8D48C;
    transform: scale(1.02);
}

.col-2{
    background-color: #32E3BA;
    width: 50%;
    height: 100%;
    font-size: 0.9rem;
}
